.soyah { 
  border-right-width: 50px;
  padding-right: 71px;
  border-left-width: 32px;
  padding-top: 68px;
  padding-left: 73px;
  border-bottom-width: 40px;
  padding-bottom: 83px;
  line-height: 94px;
  margin-left: 1px;
  border-left-width: 41px;
  border-top-width: 44px;
  line-height: 74px;
  border-bottom-width: 64px;
  padding-left: 66px;
  margin-top: 82px;
}
